header {
  background-color: #373A3C; }
  header .navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 16px;
    font-family: "Helvetica Neue", sans-serif;
    margin-right: 10px; }
    header .navbar-light .navbar-nav .nav-item .nav-link:hover {
      color: #FFFFFF; }

.user_1 {
  position: relative;
  margin-left: 23px; }

.user:before {
  content: url("../images/user.svg");
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
  position: absolute;
  top: 3px;
  left: -25px; }

.btn {
  display: inline-block;
  background-color: #8DD83D;
  color: #FFFFFF;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 4px;
  transition: 0.7s;
  box-sizing: border-box; }
  .btn:hover {
    text-decoration: underline;
    color: #FFFFFF; }

/*CAROUSEL_ONE*/
.slide-one .item_1 {
  background-image: url("../images/Star-Wars-Battlefront-II-combat.jpg");
  background-position: center top;
  background-size: cover;
  height: 100vh;
  padding-top: 206px;
  padding-left: 680px; }
  @media screen and (max-width: 992px) {
    .slide-one .item_1 {
      padding-left: 30px;
      padding-top: 109px; } }
  .slide-one .item_1 h3 {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif; }
  .slide-one .item_1 h4 {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 134px; }
  @media screen and (max-width: 576px) {
    .slide-one .item_1 .d-flex {
      flex-direction: column; } }
  .slide-one .item_1 .d-flex .btn {
    font-size: 16px;
    line-height: 21px;
    max-width: 148px;
    width: 100%; }
    .slide-one .item_1 .d-flex .btn:first-of-type {
      margin-right: 13px;
      padding: 8px 22px; }
      @media screen and (max-width: 576px) {
        .slide-one .item_1 .d-flex .btn:first-of-type {
          margin-right: 0;
          margin-bottom: 15px; } }
    .slide-one .item_1 .d-flex .btn:last-of-type {
      background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
      padding: 8px 15px; }
.slide-one .item_2 {
  background-image: url("../images/CoD-WWII.jpg");
  background-position: center top;
  background-size: cover;
  height: 100vh;
  padding-top: 109px;
  padding-left: 680px; }
  @media screen and (max-width: 992px) {
    .slide-one .item_2 {
      padding-left: 30px; } }
  .slide-one .item_2 h3 {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif; }
  .slide-one .item_2 h4 {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 139px; }
  @media screen and (max-width: 576px) {
    .slide-one .item_2 .d-flex {
      flex-direction: column; } }
  .slide-one .item_2 .d-flex .btn {
    font-size: 16px;
    line-height: 21px;
    max-width: 148px;
    width: 100%; }
    .slide-one .item_2 .d-flex .btn:first-of-type {
      margin-right: 13px;
      padding: 8px 29px; }
      @media screen and (max-width: 576px) {
        .slide-one .item_2 .d-flex .btn:first-of-type {
          margin-right: 0;
          margin-bottom: 15px; } }
    .slide-one .item_2 .d-flex .btn:last-of-type {
      padding: 8px 25px; }
.slide-one .owl-dots {
  display: none; }

/*SECTION BEST_VALUE*/
.best_value {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  padding-top: 64px;
  padding-bottom: 162px; }
  .best_value .icon {
    display: inline-block; }
  .best_value h2 {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif; }
  .best_value h3 {
    font-size: 36px;
    line-height: 42px;
    font-family: "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    margin-bottom: 43px; }
  @media screen and (max-width: 768px) {
    .best_value .d-flex {
      flex-direction: column;
      align-items: center; } }
  .best_value .item {
    max-width: 350px;
    background-color: #FFFFFF;
    border: 1px solid #8DD83D;
    box-sizing: border-box;
    border-radius: 4px; }
    .best_value .item .card_text {
      padding: 22px 21px 27px; }
      .best_value .item .card_text h4 {
        font-size: 18px;
        line-height: 21px;
        font-family: "Helvetica Neue", sans-serif;
        color: #435766;
        text-align: left;
        margin-bottom: 13px; }
        @media screen and (max-width: 992px) {
          .best_value .item .card_text h4 {
            display: none; } }
        @media screen and (max-width: 768px) {
          .best_value .item .card_text h4 {
            display: block; } }
      .best_value .item .card_text p {
        font-size: 24px;
        line-height: 28px;
        font-family: "Helvetica Neue", sans-serif;
        color: #435766;
        margin-bottom: 38px;
        text-align: left;
        max-width: 258px; }
        @media screen and (max-width: 992px) {
          .best_value .item .card_text p {
            display: none; } }
        @media screen and (max-width: 768px) {
          .best_value .item .card_text p {
            display: block; } }
      .best_value .item .card_text .btn {
        padding: 19px 20px 20px;
        font-size: 16px;
        line-height: 21px;
        max-width: 278px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box; }
        @media screen and (max-width: 992px) {
          .best_value .item .card_text .btn {
            padding: 13px 10px; } }
    .best_value .item img {
      display: block;
      width: 100%; }

/*SECTION GAMES*/
.games {
  background-image: url("../images/Rectangle3.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh; }
  .games:before {
    content: '';
    background: rgba(23, 23, 23, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .games h2 {
    font-size: 36px;
    line-height: 42px;
    font-family: "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    z-index: 2; }

/*SECTION DESIGN_LAB*/
.design_lab {
  background-image: url("../images/Rectangle.jpg");
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 145px; }
  .design_lab h2 {
    font-size: 48px;
    line-height: 56px;
    font-family: "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    margin-bottom: 9px; }
  .design_lab p {
    font-size: 24px;
    line-height: 28px;
    font-family: "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    margin-bottom: 37px; }
  @media screen and (max-width: 576px) {
    .design_lab .d-flex {
      flex-direction: column; } }
  .design_lab .btn_gr {
    padding: 20px 55px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    font-size: 16px;
    line-height: 21px;
    margin-right: 15px;
    max-width: 207px;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 4px;
    transition: 0.7s;
    box-sizing: border-box; }
    .design_lab .btn_gr:hover {
      text-decoration: underline;
      color: #FFFFFF; }
    @media screen and (max-width: 576px) {
      .design_lab .btn_gr {
        margin-right: 0;
        margin-bottom: 15px; } }
  .design_lab .btn {
    padding: 20px 21px;
    max-width: 278px;
    font-size: 16px;
    line-height: 21px; }
    @media screen and (max-width: 767px) {
      .design_lab .btn {
        padding: 20px 10px; } }

/*FOOTER*/
footer {
  background-color: #373A3C;
  padding-top: 58px;
  padding-bottom: 38px; }
  footer h5 {
    margin-bottom: 34px;
    color: #7DD42F;
    font-size: 18px;
    line-height: 21px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left; }
    @media screen and (max-width: 767px) {
      footer h5 {
        text-align: center;
        margin-bottom: 26px; } }
  footer ul {
    list-style: none;
    padding-left: 0; }
    footer ul li {
      text-decoration: none;
      text-align: left;
      margin-bottom: 29px; }
      @media screen and (max-width: 767px) {
        footer ul li {
          text-align: center;
          margin-bottom: 18px; } }
      footer ul li a {
        color: #FFFFFF;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 16px;
        display: inline-block; }
        footer ul li a:hover {
          color: #8DD83D; }
  footer .d-flex li {
    margin-right: 20px; }
    footer .d-flex li a {
      display: inline-block; }
      footer .d-flex li a img {
        transition: 0.7s;
        display: block; }
        footer .d-flex li a img:hover {
          transform: scale(1.4); }
  @media screen and (max-width: 767px) {
    footer .d-flex {
      justify-content: center; } }
  footer hr {
    opacity: 0.35;
    border: 1px solid #FFFFFF; }
  footer .row.justify-content-between .footnote {
    font-family: "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px; }
    @media screen and (max-width: 576px) {
      footer .row.justify-content-between .footnote {
        font-size: 10px;
        line-height: 12px; } }

.call_of_duty_1 {
  background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
  padding-top: 99px;
  padding-bottom: 103px; }
  .call_of_duty_1 h3 {
    color: #435766;
    font-size: 36px;
    line-height: 42px;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 208px; }
  .call_of_duty_1 .d-flex.flex-wrap .btn {
    display: inline-block; }
    .call_of_duty_1 .d-flex.flex-wrap .btn:first-of-type {
      padding: 15px 41px;
      font-size: 18px;
      line-height: 21px;
      margin-right: 14px; }
      @media screen and (max-width: 576px) {
        .call_of_duty_1 .d-flex.flex-wrap .btn:first-of-type {
          margin-right: 0;
          margin-bottom: 15px; } }
    .call_of_duty_1 .d-flex.flex-wrap .btn:last-of-type {
      padding: 15px 20px;
      background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
      font-size: 18px;
      line-height: 21px; }

.cod_video {
  background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
  padding-bottom: 115px; }

.cod_desc {
  background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%); }
  .cod_desc .container .row:first-of-type {
    margin-bottom: 100px; }
  .cod_desc .container .row h4 {
    font-size: 36px;
    line-height: 42px;
    font-family: "Helvetica Neue", sans-serif;
    color: #435766; }
  .cod_desc .container .row img {
    display: block;
    width: 100%; }

.specifications {
  background: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
  padding-top: 105px;
  padding-bottom: 109px; }
  .specifications h3 {
    margin-bottom: 47px;
    font-size: 36px;
    line-height: 42px;
    font-family: "Helvetica Neue", sans-serif;
    color: #435766; }
  .specifications p {
    font-size: 21px;
    line-height: 24px;
    font-family: "Helvetica Neue", sans-serif;
    color: #435766; }
  .specifications .d-flex {
    margin-top: 80px; }
    .specifications .d-flex .btn:first-of-type {
      padding: 15px 53px;
      background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
      margin-right: 16px; }
      @media screen and (max-width: 576px) {
        .specifications .d-flex .btn:first-of-type {
          margin-right: 0;
          margin-bottom: 15px; } }
    .specifications .d-flex .btn:last-of-type {
      padding: 15px 18px; }

/*# sourceMappingURL=style.css.map */
