
$white_col: #FFFFFF;
$green_col: #8DD83D;
$main_font: 'Helvetica Neue', sans-serif;
$back_col: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
$text_col: #435766;
$back_btn: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


header {
  background-color: #373A3C;

  .navbar-light{
    .navbar-nav {
      .nav-item {

        .nav-link {
          color: rgba(255, 255, 255, 0.5);
          font-size: 16px;
          line-height: 16px;
          font-family: $main_font;
          margin-right: 10px;


          &:hover {
            color: $white_col;
          }
        }
      }
    }
  }
}
.user_1{
  position: relative;
  margin-left: 23px;
}
.user:before{
  content: url("../images/user.svg");
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
  position: absolute;
  top: 3px;
  left: -25px;

}

.btn{
  display: inline-block;
  background-color: $green_col;
  color: $white_col;
  font-family: $main_font;
  border-radius: 4px;
  transition: 0.7s;
  box-sizing: border-box;
  &:hover{
    text-decoration: underline;
    color: $white_col;
  }
}

/*CAROUSEL_ONE*/

.slide-one {
    .item_1{
      background-image: url("../images/Star-Wars-Battlefront-II-combat.jpg");
      background-position: center top;
      background-size: cover;
      height: 100vh;
      padding-top: 206px;
      padding-left: 680px;
      @include max-screen(992px) {
        padding-left: 30px;
        padding-top: 109px;
      }
      h3{
        font-size: 36px;
        line-height: 42px;
        color: $white_col;
        font-family: $main_font;
      }
      h4{
        font-size: 24px;
        line-height: 28px;
        color: $white_col;
        font-family: $main_font;
        margin-bottom: 134px;
      }
      .d-flex{
        @include max-screen(576px) {
          flex-direction: column;
        }
        .btn {
          font-size: 16px;
          line-height: 21px;
          max-width: 148px;
          width: 100%;
          &:first-of-type{
            margin-right: 13px;
            padding: 8px 22px;
            @include max-screen(576px) {
              margin-right: 0;
              margin-bottom: 15px;
            }
          }
          &:last-of-type{
            background: $back_btn;
            padding: 8px 15px;
          }
        }
      }
    }
    .item_2{
      background-image: url("../images/CoD-WWII.jpg");
      background-position: center top;
      background-size: cover;
      height: 100vh;
      padding-top: 109px;
      padding-left: 680px;
      @include max-screen(992px) {
        padding-left: 30px;
      }

      h3 {
        font-size: 36px;
        line-height: 42px;
        color: $white_col;
        font-family: $main_font;
      }
      h4{
        font-size: 24px;
        line-height: 28px;
        color: $white_col;
        font-family: $main_font;
        margin-bottom: 139px;
      }
      .d-flex{
        @include max-screen(576px) {
          flex-direction: column;
        }
        .btn{
          font-size: 16px;
          line-height: 21px;
          max-width: 148px;
          width: 100%;
          &:first-of-type{
            margin-right: 13px;
            padding: 8px 29px;
            @include max-screen(576px) {
              margin-right: 0;
              margin-bottom: 15px;
            }
          }
          &:last-of-type{
            padding: 8px 25px;
          }
        }

      }
    }
  .owl-dots{
    display: none;
  }
}



/*SECTION BEST_VALUE*/

.best_value {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  padding-top: 64px;
  padding-bottom: 162px;
  .icon{
    display: inline-block;
  }
  h2{
    font-size: 48px;
    line-height: 56px;
    color: $white_col;
    font-family: $main_font;
  }
  h3{
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 43px;
  }
  .d-flex{
    @include max-screen(768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .item {
    max-width: 350px;
    background-color: $white_col;
    border: 1px solid $green_col;
    box-sizing: border-box;
    border-radius: 4px;
    .card_text{
      padding: 22px 21px 27px;
      h4 {
        font-size: 18px;
        line-height: 21px;
        font-family: $main_font;
        color: #435766;
        text-align: left;
        margin-bottom: 13px;
        @include max-screen(992px) {
          display: none;
        }
        @include max-screen(768px) {
          display: block;
        }
      }
      p{
        font-size: 24px;
        line-height: 28px;
        font-family: $main_font;
        color: #435766;
        margin-bottom: 38px;
        text-align: left;
        max-width: 258px;
        @include max-screen(992px) {
          display: none;
        }
        @include max-screen(768px) {
          display: block;
        }
      }
      .btn{
        padding: 19px 20px 20px;
        font-size: 16px;
        line-height: 21px;
        max-width: 278px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        @include max-screen(992px) {
          padding: 13px 10px;
        }
      }
    }
    img {
      display: block;
      width: 100%;

    }
  }
}


/*SECTION GAMES*/

.games{
  background-image: url("../images/Rectangle3.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh;
  &:before{
    content: '';
    background: rgba(23, 23, 23, 0.5);;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h2{
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    color: $white_col;
    z-index: 2;
  }



}







/*SECTION DESIGN_LAB*/

.design_lab{
  background-image: url("../images/Rectangle.jpg");
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 145px;
  h2{
    font-size: 48px;
    line-height: 56px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 9px;
  }
  p{
    font-size: 24px;
    line-height: 28px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 37px;
  }
  .d-flex {
    @include max-screen(576px) {
      flex-direction: column;

    }
  }
  .btn_gr {
    padding: 20px 55px;
    background: $back_btn;
    font-size: 16px;
    line-height: 21px;
    margin-right: 15px;
    max-width: 207px;
    width: 100%;
    display: inline-block;
    color: $white_col;
    font-family: $main_font;
    border-radius: 4px;
    transition: 0.7s;
    box-sizing: border-box;
    &:hover{
      text-decoration: underline;
      color: $white_col;
    }
    @include max-screen(576px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .btn {
    padding: 20px 21px;
    max-width: 278px;
    font-size: 16px;
    line-height: 21px;
    @include max-screen(767px) {
      padding: 20px 10px;
    }
  }
}





/*FOOTER*/

footer {
  background-color: #373A3C;
  padding-top: 58px;
  padding-bottom: 38px;
  h5 {
    margin-bottom: 34px;
    color: #7DD42F;
    font-size: 18px;
    line-height: 21px;
    font-family: $main_font;
    text-align: left;
    @include max-screen(767px) {
      text-align: center;
      margin-bottom: 26px;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      text-decoration: none;
      text-align: left;
      margin-bottom: 29px;
      @include max-screen(767px) {
        text-align: center;
        margin-bottom: 18px;
      }
      a {
        color: $white_col;
        font-family: $main_font;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;

        &:hover {
          color: $green_col;
        }
      }
    }
  }
  .d-flex {
    li {
      margin-right: 20px;

      a {
        display: inline-block;

        img {
          transition: 0.7s;
          display: block;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
    }
    @include max-screen(767px) {
      justify-content: center;
    }
  }
  hr {
    opacity: 0.35;
    border: 1px solid $white_col;
  }
  .row.justify-content-between {
    .footnote {
      font-family: $main_font;
      color: $white_col;
      font-size: 16px;
      line-height: 19px;
      @include max-screen(576px) {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}








//SECTION CALL_OF_DUTY_1//

.call_of_duty_1 {
  background: $back_col;
  padding-top: 99px;
  padding-bottom: 103px;
  h3 {
    color: $text_col;
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    margin-bottom: 208px;
  }
  .d-flex.flex-wrap {
    .btn {
      display: inline-block;

      &:first-of-type {
        padding: 15px 41px;
        font-size: 18px;
        line-height: 21px;
        margin-right: 14px;
        @include max-screen(576px) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      &:last-of-type{
        padding: 15px 20px;
        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);;
        font-size: 18px;
        line-height: 21px;

      }
    }
  }
}

.cod_video{
  background: $back_col;
  padding-bottom: 115px;
}

.cod_desc{
  background: $back_col;
  .container{
    .row{
      &:first-of-type {
        margin-bottom: 100px;
      }
      h4{
        font-size: 36px;
        line-height: 42px;
        font-family: $main_font;
        color: $text_col;
      }
      img{
        display: block;
        width: 100%;
      }

    }
  }
}

.specifications{
  background: $back_col;
  padding-top: 105px;
  padding-bottom: 109px;
  h3{
    margin-bottom: 47px;
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    color: $text_col;
  }
  p{
    font-size: 21px;
    line-height: 24px;
    font-family: $main_font;
    color: $text_col;
  }
  .d-flex{
    margin-top: 80px;
    .btn {
      &:first-of-type {
        padding: 15px 53px;
        background: $back_btn;
        margin-right: 16px;
        @include max-screen(576px) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      &:last-of-type {
        padding: 15px 18px;
      }
    }

  }
}



















