
$white_col: #FFFFFF;
$green_col: #8DD83D;
$main_font: 'Helvetica Neue', sans-serif;
$back_col: radial-gradient(100% 100% at 50% 0%, rgba(76, 80, 82, 0.1) 0%, rgba(95, 98, 101, 0.1) 100%);
$text_col: #435766;
$back_btn: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);


header {
  background-color: #373A3C;

  .navbar-light{
    .navbar-nav {
      .nav-item {

        .nav-link {
          color: rgba(255, 255, 255, 0.5);
          font-size: 16px;
          line-height: 16px;
          font-family: $main_font;
          margin-right: 10px;


          &:hover {
            color: $white_col;
          }
        }
      }
    }
  }
}
.user_1{
  position: relative;
  margin-left: 23px;
}
.user:before{
  content: url("../images/user.svg");
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
  position: absolute;
  top: 3px;
  left: -25px;

}

.btn{
  display: inline-block;
  background-color: $green_col;
  color: $white_col;
  font-family: $main_font;
  border-radius: 4px;
}

/*CAROUSEL_ONE*/

.carousel {
  .owl-carousel {
    display: block;
    .item_1{
      background-image: url("../images/Star-Wars-Battlefront-II-combat.jpg");
      background-position: center top;
      background-size: cover;
      height: 100vh;
    }
    .item_2{
      background-image: url("../images/CoD-WWII.jpg");
    }
  }
}


/*SECTION BEST_VALUE*/

.best_value {
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  padding-top: 64px;
  padding-bottom: 162px;
  .icon{
    display: inline-block;
  }
  h2{
    font-size: 48px;
    line-height: 56px;
    color: $white_col;
    font-family: $main_font;
  }
  h3{
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 43px;
  }
  .item {
    max-width: 350px;
    background-color: $white_col;
    border: 1px solid $green_col;
    box-sizing: border-box;
    border-radius: 4px;
    .card_text{
      padding: 22px 21px 27px;
      h4{
        font-size: 18px;
        line-height: 21px;
        font-family: $main_font;
        color: #435766;
        text-align: left;
        margin-bottom: 13px;
      }
      p{
        font-size: 24px;
        line-height: 28px;
        font-family: $main_font;
        color: #435766;
        margin-bottom: 38px;
        text-align: left;
        max-width: 258px;
      }
      .btn{
        padding: 19px 20px 20px;
        color: $white_col;
        background-color: $green_col;
        border-radius: 4px;
        font-size: 16px;
        line-height: 21px;
        font-family: $main_font;
        max-width: 278px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
      }
    }
    img {
      display: block;
      width: 100%;

    }
  }
}



/*SECTION DESIGN_LAB*/

.design_lab{
  background-image: url("../images/Rectangle.jpg");
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 145px;
  h2{
    font-size: 48px;
    line-height: 56px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 9px;
  }
  p{
    font-size: 24px;
    line-height: 28px;
    font-family: $main_font;
    color: $white_col;
    margin-bottom: 37px;
  }
  .btn_grey{
    display: inline-block;
    padding: 20px 55px;
    color: $white_col;
    background: $back_btn;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    font-family: $main_font;
    margin-right: 15px;
  }
  .btn{
    display: inline-block;
    padding: 20px 23px;
    color: $white_col;
    background: $green_col;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;

  }
}

footer{
  background-color: #373A3C;
  padding-top: 58px;
  padding-bottom: 38px;
  h5{
    margin-bottom: 34px;
    color: #7DD42F;
  }
  ul {
    list-style: none;
    padding-left: 0;

    li {
      text-decoration: none;
      text-align: left;
      margin-bottom: 29px;

      a {
        color: $white_col;
        font-family: $main_font;
        font-size: 14px;
        line-height: 16px;
        &:hover{
          color: $green_col;
        }
      }
    }
  }
  .d-flex{
    li{
      margin-right: 20px;
      a{
        img{
          transition: 0.7s;
          &:hover{
            transform: scale(1.3);
          }

        }
      }
    }
  }
  hr{
    opacity: 0.35;
    border: 1px solid $white_col;
  }
  .row.justify-content-between{
    .col{
      font-family: $main_font;
      color: $white_col;
      font-size: 16px;
      line-height: 19px;


    }
  }


}





//.call_of_duty{
//  background-image: url("../images/CoD-WWII.jpg");
//  background-size: cover;
//  .container{
//    padding-top: 109px;
//    padding-bottom: 204px;
//    h1{
//      font-size: 36px;
//      line-height: 42px;
//      color: $white_col;
//      font-family: $main_font;
//      margin-left: 666px;
//    }
//    p{
//      font-size: 14px;
//      line-height: 16px;
//      color: $white_col;
//      font-family: $main_font;
//      margin-left: 666px;
//      margin-bottom: 139px;
//    }
//    .d-flex{
//      margin-left: 666px;
//      .btn{
//        padding: 8px 25px;
//        max-width: 148px;
//        background: $green_col;
//        border-radius: 4px;
//        color: $white_col;
//        font-family: $main_font;
//        font-size: 16px;
//        line-height: 21px;
//        display: inline-block;
//        &:first-of-type{
//          margin-right: 13px;
//        }
//      }
//    }
//  }
//}




//SECTION CALL_OF_DUTY_1//

.call_of_duty_1 {
  background: $back_col;
  padding-top: 99px;
  padding-bottom: 103px;

  h3 {
    color: $text_col;
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    margin-bottom: 208px;
  }

  .d-flex.flex-wrap {
    .btn {
      display: inline-block;

      &:first-of-type {
        padding: 15px 41px;
        font-size: 18px;
        line-height: 21px;
        margin-right: 14px;
      }
      &:last-of-type{
        padding: 15px 20px;
        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);;
        font-size: 18px;
        line-height: 21px;

      }
    }
  }
}

.cod_video{
  background: $back_col;
  padding-bottom: 115px;
}

.cod_desc{
  background: $back_col;
  .container{
    .row{
      &:first-of-type {
        margin-bottom: 100px;
      }
      h4{
        font-size: 36px;
        line-height: 42px;
        font-family: $main_font;
        color: $text_col;
      }
      img{
        display: block;
        width: 100%;
      }

    }
  }
}

.specifications{
  background: $back_col;
  padding-top: 105px;
  padding-bottom: 109px;
  h3{
    margin-bottom: 47px;
    font-size: 36px;
    line-height: 42px;
    font-family: $main_font;
    color: $text_col;
  }
  p{
    font-size: 21px;
    line-height: 24px;
    font-family: $main_font;
    color: $text_col;
  }
  .d-flex{
    margin-top: 80px;
    .btn {
      &:first-of-type {
        padding: 15px 53px;
        background: $back_btn;
        margin-right: 16px;
      }

      &:last-of-type {
        padding: 15px 18px;
      }
    }

  }
}



















